$baseUrl: '~@/assets/';
/* 不带单位正常颜色，D颜色较深(D2,D3越深),S颜色较浅(S2,S3越浅) */
$color-default-0: #FEFEFD;
$color-default-1: #fff;
$color-default-2: #282828;

$color-primary-0: #3559CD;  /* Main Primary color *//**/
$color-primary-1: #3255C6;
$color-primary-2: #597BEA;


$color-primary-3: #3978FD;
$color-primary-4: #66AFFD;
$color-primary-5: #b5c6ea;
